<body>
  {{> header}}
  <main class="container">
    <div class="form">
      <h1>Create New Employee</h1>
      <h3 class="input-text">Name</h3>
      <input id="emp-name" type="text" placeholder="Name">
      <h3 class="input-text">Position</h3>
      <select id="emp-pos">
        <option value="" selected disabled hidden>Choose Position</option>
        <option value="Cashier">Cashier</option>
        <option value="Waiter">Waiter</option>
        <option value="Line Chef">Line Chef</option>
        <option value="Head Chef">Head Chef</option>
        <option value="Sous Chef">Sous Chef</option>
        <option value="Dishwasher">Dishwasher</option>
      </select>
      <h3 class="input-text">Choose Manager</h3>
      <select id="emp-man">
        <option value="" selected disabled hidden>Choose Manager</option>
        {{#each manager}}
          <option value="{{managerid}}">{{name}}</option>
        {{/each}}
      </select>
      <h3 class="input-text">Choose Restaurant</h3>
      <select id="emp-res">
        <option value="" selected disabled hidden>Choose Restaurant</option>
        {{#each restaurant}}
          <option value="{{rid}}">{{name}}</option>
        {{/each}}
      </select>
      <input id="emp-create" type="submit" value="Create">
    </div>

    <div class="form">
      <h1>Assign Employee to Restaurant</h1>
      <h3 class="input-text">Choose Restaurant</h3>
      <select id="assign-res">
        <option value="" selected disabled hidden>Choose Restaurant</option>
        {{#each restaurant}}
          <option value="{{rid}}">{{name}}</option>
        {{/each}}
      </select>
      <h3 class="input-text"> Choose Employee</h3>
      <select id="assign-emp">
        <option value="" selected disabled hidden>Choose Employee</option>
        {{#each employee}}
          <option value="{{eid}}">{{name}}</option>
        {{/each}}
      </select>
      <input id="assign-submit" type="submit" value="Assign">
    </div>

    <div class="form">
      <h1>Lookup Employee by Name or Position</h1>
      <h3 class="input-text">Name</h3>
      <input id="lookup-name" type="text" placeholder="Name">
      <h3 class="input-text">Position</h3>
      <select id="lookup-pos">
        <option value="" selected disabled hidden>Choose Position</option>
        <option value="Cashier">Cashier</option>
        <option value="Waiter">Waiter</option>
        <option value="Line Chef">Line Chef</option>
        <option value="Head Chef">Head Chef</option>
        <option value="Sous Chef">Sous Chef</option>
        <option value="Dishwasher">Dishwasher</option>
      </select>
      <input id="lookup-submit" type="submit" value="Create">
    </div>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/employee.js"></script>
</body>
